# Supabase Configuration
VITE_SUPABASE_URL=https://jjpmpoflpdvimdpbhvir.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqcG1wb2ZscGR2aW1kcGJodmlyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODIyNzEyMywiZXhwIjoyMDkzODAzMTIzfQ.2tePBy_nInUVy3NzJdlgUP-j8qmOh1AD3fo-z342u2Q

# Email Notifications (Resend)
RESEND_API_KEY=
VITE_NOTIFICATION_EMAIL=ashwatha5151@gmail.com
